<?xml version='1.0' encoding='utf-8'?>
<widget id="org.rti.kidsthrive" version="1.0.9" android-versionCode="11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KiwiPrints</name>
    <description>
        A data collection application.
    </description>
    <author email="chris@vetula.com" href="http://kinotel.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="LoadUrlTimeoutValue" value="60000"/>
</widget>
